.category-gradient {
  background: linear-gradient(180deg, #fa6b77, #fe9171);
}
@theme {
  /* Base Colors */
  --color-base-bg: #ffffff;
  --color-primary: #fff7f4;
  --color-secondary: #fee9e1;

  --portfolio-background: #ffffff;

  /* Text Colors */
  --color-title: black;
  --color-description: #565656;

  /* State Colors */
  --color-card-border: #808080;
  --color-card-bg: #eeeeee;
  --color-secondary-card: #dddddd;

  /* Accent */
  --color-accent: #fa886b;

  /* Notification */
  --color-success: "#38e9a2";
  --color-warning: "#ffb71c";
  --color-error: "#eb5f5f";

  /* Font */
  --font-montserrat: "Montserrat", sans-serif;

  /* Rounded */
  --radius-soft: 10px;
  --radius-base: 16px;
  --radius-strong: 20px;
  --radius-curvey: 50px;
  --radius-full: 999px;
}

body {
  font-family: var(--font-montserrat);
  color: var(--color-title);
  background: var(--color-base-bg);
}

/* Animation */
@keyframes lightpulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}
