/* Category card gradient background */
.category-gradient {
  background: linear-gradient(180deg, #fa6b77, #fe9171);
}
.border-gradient {
  border: linear-gradient(180deg, #fa6b77, #fe9171);
}
@theme {
  /* Base Colors */
  --color-base-bg: #ffffff;
  --color-primary: #fff7f4;
  --color-secondary: #fee9e1;

  /* Text Colors */
  --color-title: black;
  --color-description: #565656;

  /* State Colors */
  --color-border: #e5e5e5;
  --color-overlay-strong: rgba(0, 0, 0, 0.7);
  --color-hover-light: #ffffff6e;

  /* Accent */
  --color-accent: #fa6b77;

  /* Font */
  --font-montserrat: "Montserrat", sans-serif;

  /* Rounded */
  --radius-soft: 10px;
  --radius-base: 16px;
  --radius-strong: 20px;
  --radius-curvey: 50px;
  --radius-full: 999px;
}

body {
  font-family: var(--font-montserrat);
  color: var(--color-title);
  background: var(--color-base-bg);
}

/* Animation */
@keyframes lightpulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}
