.category-gradient {
  background: linear-gradient(180deg, #fa6b77, #fe9171);
}
@theme {
  /* Base Colors */
  --color-base-bg: #212121;

  /* Text Colors */
  --color-title: white;
  --color-description: #cccccc;

  /* State Colors */
  --color-card-main: #212121;
  --color-card-bg: #2f2f2f;
  /* --color-secondary-card: #dddddd; */

  /* Border Colors */
  --color-main-border: #808080;
  --color-light-border: #454545;

  /* Accent */
  --color-accent: #fa886b;

  /* Notification */
  --color-success: #30c97d;
  --color-warning: #ffb71c;
  --color-error: #eb5f5f;

  /* Font */
  --font-montserrat: "Montserrat", sans-serif;

  /* Rounded */
  --radius-soft: 10px;
  --radius-base: 16px;
  --radius-strong: 20px;
  --radius-curvey: 50px;
  --radius-full: 999px;

  /* Portfolio assets - dynamically */
  --color-portf-primary: #fa886b;
  --color-portf-secondary: #fa886bc0;
  --color-portf-background: #ffffff;
  --font-portf-font: "Montserrat", sans-serif;
  --portf-font: var(--font-portf-font);

  /* Portfolio assets - fixed */
  --color-portf-text-dark: #303030;
  --color-portf-text-light: #ffffff;
}

body {
  font-family: var(--font-montserrat);
  color: var(--color-title);
  background: var(--color-base-bg);
}

/* Animation */
@keyframes lightpulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}
